[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=sh -c 'cd ~/e-streaming;./waveform.sh processed'
Icon=system
Icon[en_US]=system
Name[en_US]=Check level to stream
Name=Start streaming
