#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=journalctl --user -u es_input.service
Icon=jo
Name=Check soundcard log
