#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=systemctl --user start es_streaming.target
Icon=system
Icon[en_US]=system
Name[en_US]=Start streaming
Name=Start streaming
