[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=systemctl --user stop es_streaming.target
Icon=system
Icon[en_US]=system
Name[en_US]=Stop streaming
Name=Start streaming
